*,
::after,
::before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
button {
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.clickable {
  cursor: pointer;
}

@mixin sectionTransition($hidden, $longDelay) {
  // Time for transition
  $transitionTime: 1s;
  // Time to wait before starting the next transition
  $transitionDelay: null;
  @if $longDelay == false {
    $transitionDelay: 1s;
  } @else {
    $transitionDelay: 2s;
  }
  @if $hidden == true {
    transition: opacity $transitionTime 0s, background-color $transitionTime 0s,
      visibility 0s $transitionDelay + $transitionTime;
  } @else {
    transition: opacity $transitionTime $transitionDelay,
      background-color $transitionTime $transitionDelay,
      visibility 0s $transitionDelay;
  }
}
section {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  color: #2a3462;
  text-align: left;
  will-change: opacity;
  visibility: visible;
  @include sectionTransition(false, false);

  &.intro {
    text-align: center;
  }

  .container {
    width: 90%;
  }

  &.choice {
    cursor: pointer;
    @include sectionTransition(false, true);
  }

  h1 {
    text-transform: uppercase;
    &::first-line {
      font-size: 34px;
    }
    font-size: 112px;
    font-family: Cantata One, Cambria, Cochin, Georgia, Times, "Times New Roman",
      serif;
    margin-bottom: 46px;
  }

  .sidetext {
    display: inline-block;

    aside {
      display: inline-block;
      padding: 1em;
      margin-top: 2rem;
      font-family: Raleway;
      font-size: 19.5px;
      font-style: italic;
      text-align: left;
      color: #f7ffff;
      background-color: #f76464;
    }
  }

  p {
    font-family: Raleway;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.52;
    color: #2a3462;
    background-color: white;
    display: inline;
    padding: 0.2em 0.4em;
  }

  .touch-screen {
    display: block;
    position: absolute;
    bottom: 5%;
    font-family: Raleway;
    font-size: 22px;
    text-align: center;
    color: #2a3462;

    img {
      height: 41px;
      display: block;
      margin: 14px auto;
    }
  }

  .start {
    display: block;
    margin: 0 auto;
    font-family: Pangolin;
    font-size: 35px;
    color: #ffffff;
    background: url("./svgs/btn.svg") no-repeat;
    padding: 22px 55px 22px 55px;
    background-size: 100% 100%;
    transition: color 0.1s;
    text-transform: uppercase;
    &:hover {
      color: #ebd2d2;
    }
  }

  &.choice .sidetext p {
    opacity: 1;
    transition: opacity 1s 3s;
  }
}

.flex {
  display: flex;
}

.selectionscreen {
  background-color: #f3f3f3;

  h2 {
    font-family: Raleway;
    font-size: 3em;
    text-align: center;
    color: #2a3462;
  }
  .flex {
    width: 100%;
    justify-content: center;
    & > * {
      margin: 0 1em;
      cursor: pointer;
      width: 260px;
      // max-width: 35vh;
      img {
        width: 100%;
      }
      span {
        font-family: Pangolin;
        font-size: 1.1em;
        text-align: center;
        color: #ffffff;
        display: block;
        background: url("./res/select/btn2.svg") no-repeat;
        padding: 22px 30px 22px 30px;
        background-size: 100% 100%;
        text-transform: uppercase;
        transform: translate(0, -50px);
      }
    }
  }
}

.img-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 15 !important;
  pointer-events: none;
  @include sectionTransition(false, false);

  img {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .serpent {
    width: 15vw;
    top: 0;
    left: 30%;
  }

  .zig-zag {
    width: 15vw;
    top: 0;
    left: 70%;
  }

  .illu-gauche {
    height: 70vh;
    top: 50%;
    left: 0;
  }

  .illu-droite {
    height: 70vh;
    top: 50%;
    left: 100%;
  }

  .fleche {
    height: 20vh;
    top: 100%;
    left: 80%;
  }
}

.bes {
  height: 55vh;
  max-height: 40em;
  margin-left: 15%;
  vertical-align: middle;
}

// Overrides

.intro {
  width: 100%;

  p {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    color: #121a3e;
    background-color: initial;
    display: initial;
    padding: initial;
  }
}

.intro2 {
  cursor: pointer;
  .container {
    display: flex;
    justify-content: center;
  }
}

.map {
  cursor: pointer;
  .touch-screen {
    img {
      margin-bottom: 25px;
    }
    span {
      background-color: white;
      padding: 0.5em;
    }
  }
}

.outro {
  cursor: pointer;
  background-color: #f3f3f371;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  @include sectionTransition(true, false);
  z-index: 5;

  &.choice {
    @include sectionTransition(true, true);
    .sidetext p {
      opacity: 0 !important;
      transition: opacity 1s 0s !important;
    }
  }
}
